Java Version: 17
Java Target Version: 17

junit:junit==4.11
com.github.javaparser:javaparser-symbol-solver-core==3.25.5
commons-io:commons-io==2.8.0
info.picocli:picocli==4.7.5
com.github.javaparser:javaparser-core-serialization==3.25.5
com.google.code.gson:gson==2.10.1
org.json:json==20230618
org.apache.maven:maven-model==3.6.3
